@charset "utf-8";
.indexhead
{
	padding: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0);   
    top: 0;
    position: fixed;
    width: 100%;
    max-width: 640px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    border: none;
}
.logo
{
    position: absolute;
    top: 5px;
    left: 8px;
    background: url(../img/logo.png) center center no-repeat;
    background-size: 50px 30px;
    display: inline-block;
}
.logo img
{
	    width: 50px;
    height: 30px;
}
.searchinput
{
	width: 100%;
    float: right;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    padding-left: 38px;
    padding-right: 14px;
    border-radius: 5px;
    background: url(../img/search-gray.png) 14px center no-repeat #f5f4f4;
    opacity: 1;
    background-size: 14px 14px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 100;
    outline: medium;
}
.headinput
{
	width: 70%;
	margin-left: 20%;
	margin-right: 10%;
	margin-top: 5px;
	display: inline-block;
}
.information
{
	position: absolute;
	left: 91%;
	top: 0;
}
.information a {
    padding-top: 17px;
    font-size: 10px;
    margin-top: 5px;
    color: #fff;
    display: block;
    background: url(../img/information-small.png) center top no-repeat;
    background-size: 16px auto;
    text-align: center;
}
section,ul,li
{
	margin: 0;
	padding: 0;
}
ul li
{
	list-style: none;
}
.sec1 a img
{
	width: 25%;
	float: left;
}
.sec1
{
	width: 100%;
}
.sec2
{
	width: 100%;
}
.sec2 img
{
	width: 100%;
}
.sec3
{
	width: 100%;
	height: 25px;
}
.sec3text
{
	font-size: 12px;
	color: #666;
	margin-left: 95px;
}
.sec3img
{
	position: relative;
	left: 0px;
	top: -24px;
}
.sec3img img
{
	width: 90px;
}
.sec4
{
	width: 100%;
}
.sec4 a img
{
	width: 50%;
	float: left;
}
.sec5
{
	width: 100%;
}
.sec5 a img
{
	width: 32.3333%;
}
.version
{
	color: #666;
	padding-top: 5px;
}
footer
{
	text-align: center;
	clear: both;
    border-top: 1px solid #ddd;
    padding: 8px 0 12px;
    background: #f8f8f8;
    font-size: 12px;
    margin-bottom: 30px;
}
.version p.footerInforName {
    margin-bottom: 3px;
}
.footerInfor, .footerInfor a, .footerNav {
    color: #a0a0a0;
    text-align: center;
}
.footerAbs{
    width: 100%;
}
.loginbar {
    padding: 0 15px;
    background: 0 0;
    text-align: right;
    line-height: 2.5em;
    position: relative;
    color: #ac6a46;
}
.loginbar span {
    left: 15px;
    color: #a0a0a0;
    position: absolute;
}
em {
    font-style: normal;
}
.loginbar span a:nth-child(3) {
    margin-left: 10px;
}
.loginbar span a {
    border-radius: 0;
    border: 0;
    padding: 0;
    margin: 0;
}
.loginbar a {
    color: #666;
    display: inline-block;
    line-height: 22px;
    padding: 1px 3px;
    margin: 0 5px;
}
.loginbar span a:nth-child(1) {
    margin-right: 10px;
}
.loginbar span a.userNameW {
    border-radius: none;
    border: 0;
    padding: 1px 0;
}

.navmenu
{
	bottom: 0;
    width: 100%;
    height: 49px;
    background: #fff;
    position: fixed;
    overflow: hidden;
    border-bottom: none;
    border-top: none;

}
.navmenu ul
{
	margin: 0;
    padding: 0;
}
.navmenu ul li
{
	width: 20%;
    float: left;
    padding-left: 0;
    height: 49px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.navmenu  .item1
{
    background: url(../img/home-red.png) center 9px no-repeat;
    background-size: auto 18px;
}
.navmenu  .item5
{
    background: url(../img/classify-gray.png) center 9px no-repeat;
    background-size: auto 18px;
}
.navmenu a
{
	display: block;
    font-size: 14px;
    padding-top: 28px;
    color: #666;
}
.navmenu .item4
{
	background: url(../img/share_shoppingw.png) center 9px no-repeat;
    background-size: 18px auto;
}
.navmenu .item2
{
	background: url(../img/car-gray.png) center 9px no-repeat;
	background-size: auto 18px;
}
.navmenu .item3
{
	background: url(../img/center-gray.png) center 9px no-repeat;
	background-size: auto 18px;
}

.indfs
{
	width: 24%;
}
