@charset "utf-8";
body
{
	font-size: 12px;
	font-family: "微软雅黑";
}
body ul li
{
	list-style: none;
}
body a
{
	text-decoration: none;
}
header 
{
	line-height: 43px;
	height: 44px;
	text-align: center;
}
/*section
{
	margin: 0;
	padding: 0;
}*/
.posir
{
	position: relative;
}
.top1
{
	display: block;
    position: absolute;
    left: 0;
    color: #fff;
    display: inline-block;
}
header .top1 img {
    vertical-align: middle;
    width: 12px;
}
header .title {
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    display: inline-block;
	margin: 0 0 0 10%;
}
.top2
{
display: inline-block;
float: right;
}
/*mainnav*/
.navmenu
{
	right: 0;
    width: 100%;
    height: 49px;
    background: #666;
    position: relative;
    z-index: 100;
    overflow: hidden;
    border-bottom: none;
    border-top: none;
}
.navmenu ul
{
	margin: 0;
    padding: 0;
}
.navmenu ul li
{
	width: 25%;
    float: left;
    padding-left: 0;
    height: 49px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.navmenu  .item1
{
    background: url(../img/homec.png) center 9px no-repeat;
    background-size: auto 18px;
}
.navmenu a
{
	display: block;
    font-size: 14px;
    color: #fff;
    padding-top: 28px;
}
.navmenu .item4
{
	background: url(../img/seoulc.png) center 9px no-repeat;
    background-size: 28px auto;
}
.navmenu .item2
{
	background: url(../img/ico-shopcartc.png) center 9px no-repeat;
	background-size: auto 18px;
}
.navmenu .item3
{
	background: url(../img/ico-personc.png) center 9px no-repeat;
	background-size: auto 18px;
}
.a1class img,.a1class a
{
	display: block;
    width: 100%;
}
.a1class
{
	position: relative;
}